@model ThirdForum.Models.Theme

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="../../Back/assets/img/apple-icon.png">
  <link     rel="icon" type="image/png" href="../../Back/assets/img/favicon.png">
  <title>
        Soft UI     Dashboard by Creative Tim
  </title>
  <!    --     Fonts and icons     -->
  <link href="ht    tps://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucle    o Icons -->
  <link href    ="../../Back/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../../Back/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font     Awesome Icons -->
  <scrip    t src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <l    ink href="../../Back/assets/css/nucleo-svg.css" rel="stylesheet" />
      <!-- CSS Files -->
  <link id="pagestyle" href="../../Back/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
</head>

<h1>Create Theme</h1>

<div class="jumbotron jumbotron-fluid" style="background-color: #e9ecef;
padding: 40px; border-radius: 1%;">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" style="margin-bottom:5px;">Theme Name :  </label>
                    <input asp-for="NomTheme" class="form-control" style="margin-bottom: 16px;" name="themename" />
                <span asp-validation-for="NomTheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary" style="width: 388px;height: 33px;">Save</button>
            </div>
        </form>
    </div>
</div>

    <div style="float: inline-end;">
        <a class="btn btn-secondary btn-sm" role="button" asp-action="Index">Back to List Theme</a>
</div>
</div>
