@model IEnumerable<ThirdForum.Models.Theme>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Back/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../Back/assets/img/favicon.png">
    <title>
        Soft UI Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="../../Back/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../../Back/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="../../Back/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="../../Back/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
</head>

<style>
            table,
            th,
            td {
                    border: 1px solid black;
                    border-collapse: collapse;

    }
            td {
                border: 1px solid black;
                    padding: 5px;
                    text-align: center;

    }

</style>
<div class="jumbotron jumbotron-fluid" style="background-color: #e9ecef;
padding: 40px; border-radius: 1%;">
    <h1>Edit Theme </h1>
    <p>
    <a class="btn btn-primary" role="button" asp-action="Create">Create New</a>
</p>
    <table class="table table-bordered" style="background-color: white;
border: 1px silver;">
    <thead>
        <tr>
                <th style="text-align: center;">
               Theme
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.NomTheme)
                </td>
                <td>
                        <a class="btn btn-secondary btn-sm" role="button" asp-action="Edit" asp-route-id="@item.Id"> <i class="fa fa-pencil-square" aria-hidden="true"></i>  Edit</a>
                        <a class="btn btn-primary  btn-sm" role="button" asp-action="Details" asp-route-id="@item.Id"> <i class="fa fa-info-circle" aria-hidden="true"></i> Details</a>
                        <a class="btn btn-danger  btn-sm" role="button" asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>
</div>

